/* line 1, ../dev/sass/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
}

/* line 7, ../dev/sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 10, ../dev/sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 15, ../dev/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 18, ../dev/sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 21, ../dev/sass/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 26, ../dev/sass/_normalize.scss */
body {
  margin: 0;
  font-size: 10px;
  line-height: 1.231;
  -webkit-font-smoothing: antialiased;
}

/* line 32, ../dev/sass/_normalize.scss */
body, button, input, select, textarea {
  font-family: "Dosis", sans-serif;
  color: #222222;
}

/* line 36, ../dev/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 39, ../dev/sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 42, ../dev/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 45, ../dev/sass/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 48, ../dev/sass/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 51, ../dev/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 54, ../dev/sass/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 62, ../dev/sass/_normalize.scss */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 67, ../dev/sass/_normalize.scss */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 73, ../dev/sass/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 78, ../dev/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 83, ../dev/sass/_normalize.scss */
q {
  quotes: none;
}

/* line 86, ../dev/sass/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 90, ../dev/sass/_normalize.scss */
small {
  font-size: 85%;
}

/* line 93, ../dev/sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 99, ../dev/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 102, ../dev/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 105, ../dev/sass/_normalize.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 109, ../dev/sass/_normalize.scss */
dd {
  margin: 0;
}

/* line 112, ../dev/sass/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 118, ../dev/sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 123, ../dev/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 126, ../dev/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 129, ../dev/sass/_normalize.scss */
form {
  margin: 0;
}

/* line 132, ../dev/sass/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 137, ../dev/sass/_normalize.scss */
label {
  cursor: pointer;
}

/* line 140, ../dev/sass/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 145, ../dev/sass/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 151, ../dev/sass/_normalize.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 155, ../dev/sass/_normalize.scss */
table button, table input {
  *overflow: auto;
}

/* line 158, ../dev/sass/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 162, ../dev/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 165, ../dev/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 171, ../dev/sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 174, ../dev/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 178, ../dev/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 183, ../dev/sass/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 186, ../dev/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 190, ../dev/sass/_normalize.scss */
td {
  vertical-align: top;
}

/* line 193, ../dev/sass/_normalize.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

/* line 196, ../dev/sass/_normalize.scss */
html, body {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100%;
  width: 100%;
  position: relative;
}

/* line 203, ../dev/sass/_normalize.scss */
html {
  overflow-y: scroll;
}

/* line 206, ../dev/sass/_normalize.scss */
body {
  font-size: 10px;
}

/* line 209, ../dev/sass/_normalize.scss */
body.hidden-body {
  display: none;
}

/* line 1, ../dev/sass/_ngCloaked.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/toadOcfmlt9b38dHJxOBGMzFoXZ-Kj537nB_-9jJhlA.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format("woff");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/toadOcfmlt9b38dHJxOBGIq-Fb0zf838trI74uojZQY.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/toadOcfmlt9b38dHJxOBGC7eGk4PJkA83J1AXCmgUfc.woff) format("woff");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/fpTVHK8qsXbIeTHTrnQH6FuRfpT8-4D6FEAtfkspckX3rGVtsTkPsbDajuO5ueQw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v8/fpTVHK8qsXbIeTHTrnQH6J4LxuTxC3JbLqy8IUt0K1T3rGVtsTkPsbDajuO5ueQw.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local("Dosis ExtraLight"), local("Dosis-ExtraLight"), url(http://fonts.gstatic.com/s/dosis/v3/RPKDmaFi75RJkvjWaDDb0nYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/dosis/v3/zuuDDmIlQfJeEM3Uf6kkpnYhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local("Dosis Light"), local("Dosis-Light"), url(http://fonts.gstatic.com/s/dosis/v3/7aJzV14HzAOiwNTiPgucGXYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/dosis/v3/GpmMKE0dnXylect5ObzLR3YhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"), local("Dosis-Regular"), url(http://fonts.gstatic.com/s/dosis/v3/oaBFj7Fz9Y9_eW3k9Jd9X6CWcynf_cDxXwCLxiixG1c.woff2) format("woff2"), url(http://fonts.gstatic.com/s/dosis/v3/Ewe0SEXPrakEimFzbOGwB6CWcynf_cDxXwCLxiixG1c.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local("Dosis Medium"), local("Dosis-Medium"), url(http://fonts.gstatic.com/s/dosis/v3/mAcLJWdPWDNiDJwJvcWKc3YhjbSpvc47ee6xR_80Hnw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/dosis/v3/A4RWZsncmJ25G8iqn2EHN3YhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local("Dosis SemiBold"), local("Dosis-SemiBold"), url(http://fonts.gstatic.com/s/dosis/v3/O6SOu9hYsPHTU43R17NS5XYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/dosis/v3/f8qltGyj2S-SS_tsOHsjgXYhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local("Dosis Bold"), local("Dosis-Bold"), url(http://fonts.gstatic.com/s/dosis/v3/22aDRG5X9l7obljtz7tihnYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/dosis/v3/x-7NZTw0n-ypOAaIE8uSrnYhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: local("Dosis ExtraBold"), local("Dosis-ExtraBold"), url(http://fonts.gstatic.com/s/dosis/v3/nq3OPeKr7RUSF_YDJ1woxnYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/dosis/v3/k9xA3bmr7wstksq4xsFJaXYhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}
/*-------------------- clearfix -------------------*/
/* line 42, ../dev/sass/_mixins.scss */
.clearFixit:before, .clearFixit:after {
  content: "";
  display: table;
}

/* line 46, ../dev/sass/_mixins.scss */
.clearFixit:after {
  clear: both;
}

/* line 49, ../dev/sass/_mixins.scss */
.clearFixit {
  zoom: 1;
}

/* line 1, ../dev/sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
}

/* line 7, ../dev/sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 10, ../dev/sass/_base.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 15, ../dev/sass/_base.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 20, ../dev/sass/_base.scss */
body {
  margin: 10px;
  font-size: 10px;
  line-height: 1.231;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../dev/sass/_layout.scss */
.well {
  height: 150px;
  background: #fdce2a;
}

/* line 5, ../dev/sass/_layout.scss */
.denim {
  background: #141e3c;
}
/* line 7, ../dev/sass/_layout.scss */
.denim p, .denim h5 {
  color: #fffffc;
}

/* line 11, ../dev/sass/_layout.scss */
.spruce {
  background: #2c3e4b;
}
/* line 13, ../dev/sass/_layout.scss */
.spruce p, .spruce h5 {
  color: #fffffc;
}

/* line 17, ../dev/sass/_layout.scss */
.stone {
  background: #59788d;
}

/* line 20, ../dev/sass/_layout.scss */
.aegean {
  background: #59788d;
  height: 160px;
}

/* line 24, ../dev/sass/_layout.scss */
.cerulean {
  background: #0592c2;
  height: 170px;
}

/* line 28, ../dev/sass/_layout.scss */
.daffodil {
  background: #feee88;
  height: 170px;
}
