<header class="row panel stone">colors a-plenty</header>
<section class="row">
    <article class="large-3 columns">
        <div class="panel spruce">
            <h5>spruce</h5>
            <p>{{}}</p>
        </div>
    </article>
    <article class="large-6 columns">
        <div class="panel spruce">
            <h5>spruce</h5>
            <p>{{}}</p>
        </div>
    </article>
    <article class="large-3  columns">
        <div class="panel spruce">
            <h5>spruce</h5>
            <p>{{}}</p>
        </div>
    </article>
</section>

<!-- <section ng-controller="mainController"> -->
    <h1>{{object.name}}, {{object.color}}</h1>

    <ul>
        <li class="animate-repeat" ng-repeat="friend in friends | filter:q as results">
            [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
        </li>
        <li class="animate-repeat" ng-if="results.length == 0">
            <strong>No results found...</strong>
        </li>
    </ul>

    <aside ng-bind-html="snippet">
        <h1>some stuff</h1>
    </aside>

    <section ng-controller="mainController">
        <h1>{{object.color}}, {{object.name}}</h1>
    </section>
<!-- </section>
 -->
