
// Blueant Color Group for this project


.coin {
    background: $coin;
}
.fossil {
    background: $fossil;
}
.peach {
    background: $peach;
}
.coin {
    background: $coin;
}
.coin {
    background: $coin;
}
