<header class="row panel stone">colors a-plenty</header>
<section class="row">
    <article class="large-3 columns">
        <div class="panel coin">
            <h5>{{page}}</h5>
            <p>{{name}}</p>
        </div>
    </article>
    <article class="large-6 columns">
        <div class="panel fossil">
            <h5>{{page}}</h5>
            <h6>Panel Color: {{color}}</h6>
            <p>{{name}}</p>
        </div>
    </article>
    <article class="large-3  columns">
        <div class="panel lead">
            <h5>{{page}}</h5>
            <p>{{name}}</p>
        </div>
    </article>
</section>
