<header class="row panel stone">{{object.name}}</header>
<section class="row">
    <article class="large-3 columns">
        <div class="panel fog">
            <h5>{{page}}</h5>
            <h6>background color: {{color}}</h6>
            <p>{{name}}</p>
        </div>
    </article>
    <article class="large-6 columns">
        <div class="panel cloud">
            <h5>{{page}}</h5>
            <h6>background color: {{color}}</h6>
            <p>{{name}}</p>
        </div>
    </article>
    <article class="large-3  columns">
        <div class="panel pewter">
            <h5>{{page}}</h5>
            <h6>background color: {{color}}</h6>
            <p>{{name}}</p>
        </div>
    </article>
</section>
